<div class="container">
        
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" #form="ngForm">
           <div *ngIf="!submitted">
            <div class="form-group">
                 <label for="newPassword">New password</label>
                   <div class="input-group">
                     <input type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" formControlName="newPassword" (keyup)="onPasswordKeyUp()" required>
                      <div class="input-group-append">
                        <button class="btn btn-dark" type="button" (click)="togglePasswordVisibility()">
                           {{ hidePassword ? 'Show' : 'Hide' }}
                        </button>
                       </div>
                  </div>
                <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)">
                      <div class="alert alert-danger" *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">Le mot de passe est obligatoire</div>
                       <div class="alert alert-danger" *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">Le mot de passe doit contenir au moins 8 caractères</div>
                        </div>
                 </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <div class="input-group">
              <input type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" formControlName="confirmPassword" required>
            </div>
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)">
              <div class="alert alert-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">La confirmation du mot de passe est obligatoire</div>
              <div class="alert alert-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('notSame')">Les mots de passe ne correspondent pas</div>
            </div>
          </div>
          
          <div class="alert alert-danger mt-3 ml-3" role="alert" *ngIf="NotValid">Les mots de passe ne correspondent pas</div>
      
          <button type="submit" class="btn btn-dark float-left">Soumettre</button>
     </div>
     
     <ng-container *ngIf="isLoading">
      <app-loading-page></app-loading-page>
    </ng-container>
     <div *ngIf="submitted && role === 'CANDIDAT'">
        <h2>Télécharger votre CV</h2>
        <div class="form-group">
          <label for="cvFile">Choisir un fichier</label>
          <input type="file" id="cvFile" name="cvFile" class="form-control" (change)="uploadCV($event)">
        </div>
      </div>
        </form>
       
      </div>